@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tinos:wght@400;700&display=swap');

*{
    margin: 0;
    font-family: 'Tinos', serif;
    font-weight: 400;
    color: white;
}

.pagina{
   /* background: linear-gradient(black, white);*/
    /*background: black url(img/fundo.jpeg);*/
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) , url(img/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curso{
    font-family: 'Tinos', serif;
    font-weight: 200;
    text-transform: none;
    padding: unset;
}

.materia{
    font-family:  'Press Start 2P', cursive;
    font-weight: 800;
}